fastapi == 0.78
sqlalchemy == 1.4.39
asyncpg == 0.25
uvicorn[standard]
alembic
psycopg2-binary
qrcode[pil] == 7.3.1
typer
jinja2
python-multipart
openpyxl
requests
pytest
exifread
geopy
exif
fastapi-users[sqlalchemy]
aiofiles