
{% extends 'base.html' %}
{% block title%} Картриджи {% endblock %}


{% block content %}

<div id="div1">
  <h3>Вход </h3>
  <form class="row g-3" method="post"  id="form">
    <div class="col-md-4">
      <label for="username" class="form-label">Имя пользователя</label>
      <input type="text" class="form-control" name="username" id="username" value="" >
    </div>
    <div class="col-md-4">
      <label for="password" class="form-label">Пароль</label>
      <input type="password" class="form-control" name="password" id="password" value="" >
    </div>
    <div class="col-12">
    <button class="btn btn-primary" type="submit">Войти</button>
  </div>

  </form>
</div>
    <div id="div2"></div>
<script src="/app/static/scripts/auth.js"> </script>

{% endblock %}