
{% extends 'base.html' %}
{% block title%} Картриджи {% endblock %}


{% block content %}
<table class="table table-striped table-white">
    <thead class="thead-white">

    <tr>
        <th scope="col"> <b> id </b> </th>
        <th scope="col"> <b> Название</b> </th>
        <th scope="col"> <b> Переиспользуемый</b> </th>

    </tr>
    <tbody>
    {% for cartridge in cartridges %}
    <tr>
         <td> {{cartridge.id}} </td>
        <td> {{cartridge.number}} </td>
        <td> {{cartridge.reused}} </td>
        <td> <a href="/erase_cartridge/{{cartridge.id}}" > Удалить</a></td>

    </tr>
     {% endfor %}
    </tbody>
</table>


<h3>Добавление новой модели </h3>
<form class="row g-3" method="post">
  <div class="col-md-4">
    <label for="number" class="form-label">Номер расходного материала</label>
    <input type="text" class="form-control" name="number" id="number" value="" >
  </div>
  <div class="col-md-3">
    <label for="reused" class="form-label">Переиспользуемый</label>
    <select class="form-select" name="reused" id="reused" >
      <option selected value="Да">Да</option>
      <option>Нет</option>
    </select>
  </div>

    <div class="col-12">
    <button class="btn btn-primary" type="submit">Отправить форму</button>
  </div>
</form>

{% endblock %}
