
{% extends 'base.html' %}
{% block title%} Склад {% endblock %}


{% block content %}
<p>
    {{count_departs}}

</p>



<h3> Картриджи по отделам</h3>
<table class="table table-striped table-white">
    <thead class="thead-white">

    <tr>
        <th scope="col"> <b> id картриджа </b> </th>
        <th scope="col"> <b> Подразделение</b> </th>
        <th scope="col"> <b> Количество</b> </th>

    </tr>
    <tbody>
    {% if count_departs %}
        {% for position in count_departs %}
        <tr>
             <td> {{position[1]}} </td>
            <td> {{position[0].department}} </td>
            <td> {{position[0].amount}} </td>

        </tr>
         {% endfor %}
    {% else %}
        <p> Склад пуст</p>
    {% endif %}
    </tbody>
</table>



<div>
    <div class="col-12">
    <a class="btn btn-primary" href="/storehouse/replenishment" role="button">Поступление картриджей на склад</a>
  </div>
</div>


<h3>Передача картриджа</h3>
<form class="row g-3" method="post" id="form">
    {% for cart in cartridges %}
      <div class="col-sm-2">
        <label for="{{cart.id}}" class="form-label">{{cart.number}}</label>
        <input type="number" class="form-control" name="{{cart.id}}" id="{{cart.id}}" value="" >
      </div>

            {% endfor %}

  <div class="col-md-1">
      <label for="department_id" class="department">Отдел</label>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="department_id" id="department_id" label=" Отдел">
            {% for department in departments %}

                 <option value={{department.id}}>{{department.name}}   <i>{{department.company}}</i> </option>
            {% endfor %}
        </select>
  </div>

    <div class="col-md-3">
        <label for="operation" class="form-label"> Перемещение</label>
        <select class="form-select" name="operation" id="operation" >
              <option selected value="transfer_to_department_with_return">Передача отделу</option>
              <option value="return_from_department">Возврат картриджа(в разработке)</option>
        </select>
    </div>
    <div class="col-12">
    <button class="btn btn-primary" type="submit">Передача формы</button>
  </div>
</form>





<script src="/app/static/scripts/getForm.js"> </script>

{% endblock %}
