
{% extends 'base.html' %}
{% block title%} Картриджи {% endblock %}


{% block content %}
<table class="table table-striped table-white">
    <thead class="thead-white">

    <tr>
        <th scope="col"> <b> id </b> </th>
        <th scope="col"> <b> Отдел</b> </th>
        <th scope="col"> <b> Предприятие</b> </th>

    </tr>
    <tbody>
    {% for department in departments %}
    <tr>
         <td> {{department.id}} </td>
        <td> {{department.name}} </td>
        <td> {{department.company}} </td>

    </tr>
     {% endfor %}
    </tbody>
</table>


<h3>Добавление отдела </h3>
<form class="row g-3" method="post">
  <div class="col-md-4">
    <label for="name" class="form-label">Отдел</label>
    <input type="text" class="form-control" name="name" id="name" value="" >
  </div>
      <div class="col-md-4">
        <label for="company" class="form-label">Предприятие</label>
        <input type="text" class="form-control" name="company" id="company" value="" >
      </div>
     <div class="container-fluid">
             <label> <b> Оказывает сервис?</b></label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="service" id="exampleRadios1" value="False" checked>
          <label class="form-check-label" for="exampleRadios1">
            Нет
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="service" id="exampleRadios2" value="True">
          <label class="form-check-label" for="exampleRadios2">
            Да
          </label>
        </div>
     </div>

    <div class="col-12">
    <button class="btn btn-primary" type="submit">Добавить отдел</button>
  </div>
</form>

{% endblock %}
