
{% extends 'base.html' %}
{% block title%} Модели принтеров {% endblock %}


{% block content %}


<table class="table table-striped table-white">
    <thead class="thead-white">

    <tr>
        <th scope="col"> <b> Марка </b> </th>
        <th scope="col"> <b> Модель</b> </th>
        <th scope="col"> <b>Отдел</b> </th>
        <th scope="col"> <b>Местоположение / кабинет</b> </th>
        <th scope="col"><b>IP</b> </th>
        <th scope="col"><b>SN</b> </th>
        <th scope="col"><b>Состояние</b> </th>
        <th scope="col"><b>Тип подключения</b> </th>
        <th scope="col"><b>QR</b> </th>
    </tr>
    <tbody>
    {% for printer in printers %}
    <tr>
         <td> {{printer[1].brand}} </td>
         <td> {{printer[1].model}} </td>
         <td> <a href="/printers/department/{{printer[0].department}}"> {{printer[0].department.name}} </a> </td>
        <td> {{printer[0].location}} </td>
         <td> {{printer[0].ip}} </td>
         <td><a href="/printer/{{printer[0].id}}"> {{printer[0].sn}}</a>  </td>
         <td> {{printer[0].condition}} </td>
        <td> {{printer[0].connection}} </td>
        <td> <img src="/{{printer[0].qr}}" width="100" height="100"
     alt="QR"> </td>
         <td> <a class="pressed-button"
                 href="/erase_printer/{{printer[0].id}}"
                 > удалить</a> </td>
    </tr>
     {% endfor %}
    </tbody>
</table>
<p>Отделы {{departments}}</p>
<h3>Добавление нового принтера</h3>
<form class="row g-3" method="post">

  <div class="col-md-1">
      <label for="department_id" class="department">Отдел</label>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="department_id" id="department_id" label=" Отдел">
            {% for department in departments %}

                 <option value={{department.id}}>{{department.name}}   <i>{{department.company}}</i> </option>
            {% endfor %}
        </select>
  </div>
      <div class="col-md-4">
        <label for="location" class="form-label">Местоположение/кабинет</label>
        <input type="text" class="form-control" name="location" id="location" value="" required >
      </div>

  <div class="col-md-3">
      <label for="ip" class="form-label">IP</label>
     <input type="text" class="form-control" name="ip" id="ip" value="192.168.0.0" >
  </div>
  <div class="col-md-3">
      <label for="sn" class="form-label">Серийный номер</label>
      <input type="text" class="form-control" name="sn" id="sn" value="abcd1234" required>
  </div>
      <div class="col-md-3">
        <label for="condition" class="form-label">Текущее состояние</label>
        <select class="form-select" name="condition" id="condition" >
          <option selected value="work">В работе </option>
          <option value="repair">В ремонте</option>
          <option value="reserve">Резерв</option>
          <option value="require_repair">Требует ремонта </option>
        </select>
  </div>
  </div>
      <div class="col-md-3">
        <label for="connection" class="form-label">Тип подключения</label>
        <select class="form-select" name="connection" id="connection" >
          <option selected value="ip">IP </option>
          <option  value="USB">USB</option>

        </select>
  </div>
    <div class="col-12">
    <button class="btn btn-primary" type="submit">Создать принтер</button>
  </div>
</form>






{% endblock %}
