
{% extends 'base.html' %}
{% block title%} Модели принтеров {% endblock %}


{% block content %}
<div>
  <h3>Информация по модели</h3>
  <p> Марка принтера: {{printers[0][0].brand}}</p>
  <p> Модель принтера: {{printers[0][0].model}}</p>
</div>
<div>
  <h3>Информация по принтеру</h3>
  {% if printers[0][1].ip %} <p> ip принтера: {{printers[0][1].ip}}</p>
  {% endif %}

  <p> sn принтера: {{printers[0][1].sn}}</p>
  <p> Отдел: {{printers[0][1].departament}}</p>
  {% if printers[0][1].is_work %} Принтер сейчас в работе
  {% endif %}
  {% if printers[0][1].is_free %} Принтер сейчас свободен
  {% endif %}
  {% if printers[0][1].repairing %} Принтер сейчас в ремонте
  {% endif %}
</div>
<a class="btn btn-secondary" href="/update_printer/{{printers[0][1].id}}" role="button">Обновить информацию по принтеру</a>
<div class="accordion" id="accordionPanelsStayOpenExample">
  {% for record in printers[1:] %}


  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Запись от {{record[0].date.strftime('%d.%m.%Y  %H:%M')}}
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <strong>{{record[1].email}}.</strong>
        {{record[0].description}}
        {% if record[0].path_file %}
        <a href="https://www.google.com/maps?q={{record[0].latitude}},{{record[0].longitude}}">Показать на карте </a>
        <img class="img-fluid" src="/{{record[0].path_file}}"   width="400" height="600"  alt="фото">
        {% endif %}
      </div>

    </div>
  </div>
  {% endfor %}

</div>



<h3>Добавление информации по принтеру</h3>
<form class="row g-3" action="/printer/{{printers[0][1].id}}"
      enctype="multipart/form-data" method="post" id="form">

  <div class="col-md-3">
      <label for="description" class="form-label">Описание </label>
      <input type="text" class="form-control" name="description" id="description" value="Замечания по принтеру" >
  </div>
  <div class="mb-3">
    <label for="files" class="form-label">Добавление фото</label>
    <input class="form-control" type="file"  id="files" name="files" multiple>
  </div>

    <div class="col-12">
        <button class="btn btn-primary" type="button" onclick="send_description()">Добавить</button>
    </div>
</form>

<script src="/app/static/scripts/getForm.js"> </script>
{% endblock %}
