
{% extends 'base.html' %}
{% block title%} Модели принтеров {% endblock %}


{% block content %}

<H1> Отчет по использованию картриджа</H1>


<h2>Общее количество зайдествованных картриджей: {{ all_quaintity_cartridge }} штук</h2>
<h3>Из них на складе: {{storehouse}}</h3>
<h3> В отделах:</h3>
{% for d in depart %}
    <p> В отделе <b>{{d.department.name}}</b>  используется в количестве {{d.amount}}</p>
{% endfor %}
<h3> В сервисе:</h3>
{% for cart in cart_in_service %}
    <p> В сервисе <b>{{cart.department.company}}</b>  заправляется в количестве {{cart.amount}}</p>
{% endfor %}

<h2>  Отделы в которых стоят принтеры использующие данный картридж</h2>

{% for depart in list_department %}
    <p> В отделе <b>{{depart[0]}}</b>  используетс <b> {{depart[1]}} </b> аппарат[а]</p>
{% endfor %}

<script src="/app/static/scripts/getForm.js"> </script>
{% endblock %}
