
{% extends 'base.html' %}
{% block title%} Склад {% endblock %}


{% block content %}
<p> {{storehouse_unused}}</p>
<p> {{storehouse_used}}</p>
<h3> Не использованные картриджи</h3>
<table class="table table-striped table-white">
    <thead class="thead-white">

    <tr>
        <th scope="col"> <b> id картриджа </b> </th>
        <th scope="col"> <b> Готов к уптреблению</b> </th>
        <th scope="col"> <b> Количество</b> </th>

    </tr>
    <tbody>
    {% if storehouse_unused %}
        {% for position in storehouse_unused %}
        <tr>
             <td> {{position[1]}} </td>
            <td> {{position[0].unused}} </td>
            <td> {{position[0].amount}} </td>

        </tr>
         {% endfor %}
    {% else %}
        <p> Склад пуст</p>
    {% endif %}
    </tbody>
</table>


<h3> Использованные картриджи</h3>
<table class="table table-striped table-white">
    <thead class="thead-white">

    <tr>
        <th scope="col"> <b> id картриджа </b> </th>
        <th scope="col"> <b> Отработанные</b> </th>
        <th scope="col"> <b> Количество</b> </th>

    </tr>
    <tbody>
    {% if storehouse_used %}
        {% for position in storehouse_used %}
        <tr>
             <td> {{position[1]}} </td>
            <td> {{position[0].unused}} </td>
            <td> {{position[0].amount}} </td>

        </tr>
         {% endfor %}
    {% else %}
        <p> Склад пуст</p>
    {% endif %}
    </tbody>
</table>



<div>
    <div class="col-12">
    <a class="btn btn-primary" href="/storehouse/replenishment" role="button">Поступление картриджей на склад</a>
  </div>
</div>

{% endblock %}
