
{% extends 'base.html' %}
{% block title%} Модели принтеров {% endblock %}


{% block content %}
<p> {{printer[0]}}</p>
<table class="table table-striped table-white">
    <thead class="thead-white">

    <tr>

        <th scope="col"> <b>Отдел</b> </th>
        <th scope="col"><b>IP</b> </th>
        <th scope="col"><b>SN</b> </th>
        <th scope="col"><b>В ходу</b> </th>
        <th scope="col"><b>В резерве</b> </th>
        <th scope="col"><b>В ремонте</b> </th>
        <th scope="col"><b>QR</b> </th>
    </tr>
    <tbody>

    <tr>

         <td> {{printer.departament}} </td>
         <td> {{printer.ip}} </td>
         <td><a href="/printer/{{printer.id}}"> {{printer.sn}}</a>  </td>
         <td> {{printer.is_work}} </td>
        <td> {{printer.is_free}} </td>
        <td> {{printer.repairing}} </td>
        <td> <img src="/{{printer.qr}}" width="100" height="100"
     alt="QR"> </td>
        
    </tr>

    </tbody>
</table>

<h3>Редактирование принтера</h3>
<form class="row g-3" method="post">
  <div class="col-md-3">
        <label for="description" class="form-label">описание</label>
        <input type="text" class="form-control" name="description" id="description" value=" " >
    </div>
  <div class="col-md-4">
        <label for="departament" class="form-label">Отдел</label>
        <input type="text" class="form-control" name="departament" id="departament" value="{{printer.departament}}" >
  </div>

  <div class="col-md-2">
      <label for="ip" class="form-label">IP</label>
     <input type="text" class="form-control" name="ip" id="ip" value="{{printer.ip}}" >
  </div>
  <div class="col-md-2">
      <label for="location" class="form-label">Местоположение / Кабинет</label>
      <input type="text" class="form-control" name="location" id="location" value="{{printer.location}}" >
  </div>

  <div class="col-md-2">
        <label for="is_work" class="form-label">В работе</label>
        <select class="form-select" name="is_work" id="is_work" >
            {% if printer.is_work %}
              <option selected >True</option>
              <option>False</option>
            {% else %}
                <option selected >False</option>
                <option>True</option>
            {%endif %}
        </select>
  </div>
    <div class="col-md-2">
        <label for="is_free" class="form-label">В резерве</label>
        <select class="form-select" name="is_free" id="is_free" >
            {% if printer.is_free %}
              <option selected >True</option>
              <option>False</option>
            {% else %}
                <option selected >False</option>
                <option>True</option>
            {%endif %}
        </select>
    </div>
    <div class="col-md-2">
        <label for="repairing" class="form-label">В ремонте</label>
        <select class="form-select" name="repairing" id="repairing" >
            {% if printer.repairing %}
              <option selected >True</option>
              <option>False</option>
            {% else %}
                <option selected >False</option>
                <option>True</option>
            {%endif %}
        </select>

    </div>
    <div class="col-12">
    <button class="btn btn-primary" type="submit">Обновить информацию принтера</button>
  </div>
</form>


{% endblock %}
